/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Title Section */
  .title-section {
    text-align: center;
    padding: 20px 0;
  }
  
  .title-section h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .title-section .underline {
    width: 50px;
    height: 3px;
    background-color: #ff4500;
    margin: 8px auto;
  }
  
  /* Form Section */
  .form-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .form-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    flex: 2;
    margin-right: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
  }
  
  .order-summary {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ff4500;
    border-radius: 10px;
  }

  .order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.price {
    color: #218f14;
}
  
  .order-header {
    background-color: #ff4500;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  
  .order-details p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #333;
  }
  
  .free-shipping {
    color: green;
  }
  
  .payment-method {
    margin-bottom: 15px;
  }
  
  .payment-method label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .payment-description {
    font-size: 0.9em;
    color: #666;
    margin-left: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  